<!DOCTYPE html>
<html>
<head>
	<title>Reports</title>
	<link rel="stylesheet" type="text/css" href="public/CSS/report.css">
</head>
<body>
	<div class = "container">
		<div class="logo"><h1><img src="public/Image/eglisevivantelogo.png"></h1></div>
		<div class="tab">
			<ul id="tablist">
				<li><a href="/home">Home</a></li>
				<li><a href="/insert">Insert</a></li>
				<li><a href="/report">List</a></li>
				<li class="searchpopup"><a href="/search">Search</a></li>
			</ul>
		</div>
		<div class="wrapper">
			<h1>REPORTS</h1>
		</div>
		<div class="inside">
			<form action="/report/report" method="post" class="insidetable">
				<table border="1" class="table">
					<thead>
					<th>No y'irangamuntu</th>
					<th>Amazina</th>
					<th>Igitsina</th>
					<th>Irangamirere</th>
					<th>Se</th>
					<th>Nyina</th>
					<th>Itariki y'amavuko</th>
					<th>Igihe Yakirijwe</th>
					<th>Igihe Yabatirijwe</th>
					<th>Icyo Akora</th>
					<th>Umunyetorero Kuva</th>
					<th>Amashuri yize</th>
					<th>Ishami yize</th>
					<th>Impano Karemano</th>
					<th>Telephone</th>
					<th>Email</th>
					<th>Akarere</th>
					<th>Umurenge</th>
					<th>Akagari</th>
					<th>Umudugudu</th>
					<th>Umurimo mw'itorero</th>
					</thead>
					<tbody class="body"></tbody>
				</table>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".body").append(function() {
            $.ajax({
                url: '/report/report',
                type: 'post',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    console.log(response);
                    var insideTable = $('#insidetable');
                    for (var i in response){
                        $('.insidetable tbody').append('\
                                 <tr>\
                                 <td>'+response[i].irangamuntu+'</td>\
                                 <td>'+response[i].amazina +'</td>\
                                 <td>'+response[i].igitsina +'</td>\
                                 <td>'+response[i].irangamirere +'</td>\
                                 <td>'+response[i].se+'</td>\
								 <td>'+response[i].nyina +'</td>\
								 <td>'+response[i].amavuko +'</td>\
								 <td>'+response[i].yakirijwe +'</td>\
								 <td>'+response[i].yabatirijwe+'</td>\
								 <td>'+response[i].akazi +'</td>\
								 <td>'+response[i].umunyetorero +'</td\
								 <td>'+response[i].amashuri +'</td>\
								 <td>'+response[i].ishami+'</td>\
								 <td>'+response[i].impano +'</td>\
								 <td>'+response[i].telephone +'</td>\
								 <td>'+response[i].email +'</td>\
								 <td>'+response[i].akarere +'</td>\
								 <td>'+response[i].umurenge+'</td>\
								 <td>'+response[i].akagari +'</td>\
								 <td>'+response[i].umudugudu +'</td>\
								 <td>'+response[i].umurimo +'</td>\
								 </tr>\
                                 ')
                    }
            }
            });
        });
	});
</script>
</html>